ul.phase-modules-list
  list-style-type: none
  padding: 0

.practice-module-icon
  margin-right: 0.5em
  color: #97c93c

.benchmark-module-icon
  margin-right: 0.5em
  color: #e67226

.feedback-container
  display: flex
  flex-direction: column
  align-content: center
  justify-content: center

.feedback-h3
  text-align: center

.feedback-form
  display: flex
  flex-direction: column
  justify-content: center
  align-items: center

.feedback-textarea
  resize: none
  max-width: 800px

.recent-reviews-container
  display: flex
  padding: 3em
  flex-direction: column
  background-color: #E2E3E4
  overflow: scroll
  // overflow-x: hidden
  width: auto
  height: 650px

.row
  display: flex
  align-items: center
  margin-top: 1em
  flex-shrink: 2
  margin-bottom: 1em

.col-1
  display: flex
  flex: 1


.col-5
  display: flex
  flex: 5

.no-reviews
  text-align: center
  margin-top: .5em

.label
  max-width: 80px
  text-align: left

.user-feedback-content

.user-avatar
  justify-content: flex-end
  margin-right: 1em

.user-avatar img
  max-width: 40px
  max-height: 40px

.user-handle
  display: flex
  flex-direction: column

.delete-review-contain
  display: flex
  justify-content: flex-end
